.userCoverImage{
    height: 20vh;
    width: 75vw;
    border: 1px solid red;
}
.coverImagesElements{
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    height: 1em;
}

.loginUserInformation > * {
    text-align: left;
    display: block;
    margin: 0.8em 0;
    margin-left: 1em;
}
.loginUserInformation > *:first-child {
    margin-top: -3em;
    margin-bottom: 0px;
}
.userProfileImage{
    height: 6em;
    background-color: red;
    border-radius: 5px;
}

.profileImageEdit{
    background-color: blue;
    padding: 10px;
    border-radius: 50%;
    margin-left: -20px;
    color: var(--white);
    border: 1px solid lightgreen;
}
.userName{
    font-size: 2em;
    margin-left: 0.5em;
}
.userDetails > *{
    padding-right: 5px;
    
}
.addFriendButton{
    border: none;
    padding: 1em 3em;
    background-color: var(--sky-blue);
    border-radius: 5px;
    font-size: 1em;
}
.VisitWebsiteLink{
    text-decoration: none;
    padding: 1em 3em;
    margin-left: 1em;
    border-radius: 5px;
    background-color: var(--sky-blue);
}
