.post{
    border: 1px solid green;
    margin-bottom: 1.5em ;
    border-radius: 10px;
    margin-top: 3em;
    background-color: rgb(179, 161, 82);
}
.postImages{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 5px dotted blue; */
    /* height: 20em; */
    /* width: 20em; */
    background-color: red;
}
.postMessage{
    text-align: left;
    margin-left: 5px;
    text-transform: capitalize;
}
.eachImage{
    height: 7em;
    width: 7em;
}