.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    height: 4em;
}
.navprofile{
    display: flex;
    height: 3em;
    margin: auto 7px;
}
.userName{
    padding-left: 10px;
    font-weight: bold;
}
.suggestions{
    background-color: red;
    height: 10rem;
    width: 10rem;
    transform: translate(400px, -150px);
    margin: 10rem auto;
    overflow: scroll;
}
