.dashboard{
    background-color: red;
    position: relative;
}
.WebsiteLogo{
    margin: 5px;
    border-radius: 5px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    height: 4em;
}
.navprofile{
    display: flex;
    height: 3em;
    margin: auto 0px;
}
.userImage{
    border-radius: 5px;
}
.userName{
    padding-left: 10px;
    color: rgb(225, 217, 222);
    height: 1.2em;
    font-size: 1.1em;
    font-weight: bold;
}
.asideComponents{
    width: 14em;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50em;
    /* align-items: flex-end; */
    /* margin: 0px 25px 0 0; */
    background-color: rgb(94, 94, 232);
}

 .suggestionsComponent{
    /* border: 1px solid red; */
    height: 20em;
    /* width: -em; */
    background-color: rgb(190, 206, 201);
    overflow: scroll;
    margin: 0em 0.5em;
    border-radius: 5px;
}

.suggestionHeader{
    /* text-align: left; */
    /* margin-left: 2px; */
    padding: 0.5em 0 ;
    margin: 0;
    border-bottom: 1px solid black;
    /* border: 1px solid red; */
    /* font-size: 16px; */
}
.suggestionList{
    margin-top: 5px;
    /* border: 1px solid blue; */
}


.logoutLink{
    border: none;
    margin: 5px 8px;
    background-color: rgb(87, 204, 204);
    cursor: pointer;
    border-radius: 5px;
    color: rgb(245, 245, 245);
}
.logoutLink:active{
    background-color: rgb(153, 63, 63);
}